<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../styles.css">
    <title>TO-DO List</title>
</head>
<body>
    <div class="container" >
       <div class="heading">
        <h1><%=dayy %></h1>
       </div>
       <div class="items">
        <% for(let i=0;i<thing.length;i++) { %>
               <div class="item">
                <input type="checkbox">
                <p><%=thing[i] %>  </p>
               </div>
                
             <%}%>
        

        <form action="/" method="post">
            <input type="text" placeholder="Add Item" name="newItem" autocomplete="off">
            <button type="submit" name="btn">+</button>
        </form>
       </div>
      
    </div>
   
   
    

</body>
</html>